# System files
.DS_Store
Thumbs.db
*.log

# Dependencies
/node_modules
/vendor

# IDEs
.vscode/
.idea/

# Environment variables (if any)
.env
# config/env.php  <-- Comentado para permitir subir la configuración por petición del usuario
